<ion-content class="card-background-page">

  <ion-card>
    <a href="/neighborhoods/BackBay"><img src="images/BACK-BAY-427x450.jpg" alt="BackBay"/></a>
    <div class="card-title">Back Bay</div>
    <div class="card-subtitle"></div>
  </ion-card>

  <ion-card>
    <a href="/neighborhoods/BeaconHill"><img src="images/BEACON-HILL-600x450.jpg" alt="BeaconHill"/></a>
    <div class="card-title">Beacon Hill</div>
    <div class="card-subtitle"></div>
  </ion-card>

  <ion-card>
    <a href="/neighborhoods/NorthEnd"><img src="images/NORTH-END-600x450.jpg" alt="NorthEnd"/></a>
    <div class="card-title">North End</div>
    <div class="card-subtitle"></div>
  </ion-card>

  <ion-card>
    <a href="/neighborhoods/WestEnd"><img src="images/WEST-END-600x450.jpg" alt="WestEnd"/></a>
    <div class="card-title">West End</div>
    <div class="card-subtitle"></div>
  </ion-card>

  <ion-card>
    <a href="/neighborhoods/Fenway"><img src="images/FENWAY-600x450.jpg" alt="Fenway"/></a>
    <div class="card-title">Fenway</div>
    <div class="card-subtitle"></div>
  </ion-card>

  <ion-card>
    <a href="/neighborhoods/SouthEnd"><img src="images/SOUTH-END-600x450.jpg" alt="SouthEnd"/></a>
    <div class="card-title">South End</div>
    <div class="card-subtitle"></div>
  </ion-card>

</ion-content>
