<ion-view hide-back-button="true">
  <ion-content padding="false" class="has-header">
  <div class="list list-mobile">

  <div class=" card">
    <div class="item">
      <a href="/neighborhoodInfo/BackBay/BackBay" data-tap-disabled="true">
  <img src="images/BACK-BAY-427x450.jpg" width='100%' alt="BackBay"/>
</a>

  </div>
  </div>

  <div class=" card">
    <div class="item">

    <a href="/neighborhoodInfo/beaconHill/beaconHill" data-tap-disabled="true">
      <img src="images/BEACON-HILL-600x450.jpg" width='100%' alt="BeaconHill"/>
    </a>
  </div>
</div>

  <div class=" card">
    <div class="item">

    <a href="/neighborhoodInfo/northEnd/northEnd" data-tap-disabled="true">
      <img src="images/NORTH-END-600x450.jpg" width='100%' alt="NorthEnd"/>
    </a>
  </div>
</div>

  <div class=" card">
    <div class="item">

    <a href="/neighborhoodInfo/westEnd/westEnd" data-tap-disabled="true">
      <img src="images/WEST-END-600x450.jpg" width='100%' alt="WestEnd"/>
    </a>
  </div>

  </div>

  <div class=" card">
    <div class="item">

    <a href="/neighborhoodInfo/fenway/fenway" data-tap-disabled="true">
      <img src="images/FENWAY-600x450.jpg" width='100%'alt="Fenway"/>
    </a>
  </div>

  </div>

  <div class=" card">
    <div class="item">

    <a href="/neighborhoodInfo/southEnd/southEnd" data-tap-disabled="true">
      <img src="images/SOUTH-END-600x450.jpg" width='100%' alt="SouthEnd"/>
    </a>
  </div>

  </div>
</div>


</ion-content>
</ion-view>
