<h1>Neighborhood Info Page</h1>
<h3>If you are trying to decide which Boston neighborhood is the right fit, click on the following featured neighborhood photos to get more information on location, public transportation, history, and entertainment.</h3>

<div class="neighborhoodContainer">
  <div class="neighborhoodImages">
    <a href="/neighborhoods/BackBay"><img src="images/BACK-BAY-427x450.jpg" alt="BackBay" /></a>
  </div>
  <div class="neighborhoodImages">
    <a href="/neighborhoods/BeaconHill"><img src="images/BEACON-HILL-600x450.jpg" alt="BeaconHill" /></a>
  </div>
  <div class="neighborhoodImages">
    <a href="/neighborhoods/NorthEnd"><img src="images/NORTH-END-600x450.jpg" alt="NorthEnd" /></a>
  </div>
  <div class="neighborhoodImages">
    <a href="/neighborhoods/WestEnd"><img src="images/WEST-END-600x450.jpg" alt="WestEnd" /></a>
  </div>
  <div class="neighborhoodImages">
    <a href="/neighborhoods/Fenway"><img src="images/FENWAY-600x450.jpg" alt="Fenway" /></a>
  </div>
  <div class="neighborhoodImages">
    <a href="/neighborhoods/SouthEnd"><img src="images/SOUTH-END-600x450.jpg" alt="SouthEnd" /></a>
  </div>
</div>
