<div class="bar bar-header">
  <button class="button button-icon icon ion-navicon"  style='color: #173a65' data-tap-disabled="true"></button>
  <div class="h1 title"  style='color: #173a65; font-size: 1.5em;' >Presidential Properties</div>
  <button class="button button-icon icon"><a data-tap-disabled="true" ui-sref="login"><i class="icon ion-person" style='color: #173a65'></i></a></button>
  <!-- <button class="button button-icon icon"><a ui-sref="userProfile({ userId: navigation.findUserId })">
  <i class="icon ion-person"></i></a></button> -->
</div>

<ion-nav-view class="background"></ion-nav-view>


<div class="tabs tabs-icon-top"  style='color: black'>
  <a class="tab-item" data-tap-disabled="true" ui-sref="apartments">
    <i class="icon ion-home"></i>
    Home
  </a>
  <a class="tab-item" data-tap-disabled="true" ui-sref="userProfile({ userId: navigation.findUserId })">
    <i class="icon ion-star"></i>
    Favorites
  </a>
  <a class="tab-item" data-tap-disabled="true" ui-sref="neighborhoodInfo" >
    <i class="icon ion-ios-location" ></i>
    Neighborhoods
  </a>
</div>
