<ion-view hide-back-button="true">
  <ion-content padding="false" class="has-header">
    <div class="bannerTop">
      <h1 class="md-display-1">We Know Boston.</h1>
      <h3 class="md-display-1">Presidential Properties is a brokerage <br> dedicated to the Hub.</h3>
    </div>
    <div class="center">
      <h3 id='headText'>Currently Available Apartments</h3>
    </div>

    <!-- <div layout="row" layout-padding>
      <md-input-container>
        <label>Search</label>
        <input ng-model="apartments.searchText">
      </md-input-container> -->

      <!-- <apartments-sort on-change="apartments.sortChanged(sort)" property="name" order="1"></apartments-sort>
    </div> -->

    <div class="list list-mobile">
      <div class="card" ng-repeat="apartment in apartmentsList.apartments">
        <div class="item">
          <div class="item item-image"><a ui-sref="apartmentDetails({ apartmentId:apartment._id })">
          <img src="{{apartment.piclink}}" /></a>
          </div>
          <div class="item">
            <h2><a ui-sref="apartmentDetails({ apartmentId:apartment._id })">  {{apartment.title}}  </a></h2>
            <h2>{{apartment.price}}</h2>
            <div class="apartment-description">
              <div class="center">
                <!-- <p>Beds:</p> -->
                <img src="images/bed-icon.png" alt="" />
                <p> {{apartment.bedrooms}}</p>
              </div>
              <div class="center">
                <!-- <p>Baths:</p> -->
                <img src="images/shower-icon.png" alt="" />
                <p>{{apartment.bathrooms}}</p>
              </div>
              <div class="center">
                <!-- <p>Type:</p> -->
                <i class="ion-home"></i>
                <p>{{apartment.type}}</p>
              </div>
              <div class="center">
                <!-- <p>Status:</p> -->
                <i class="ion-pricetag"></i>
                <p>{{apartment.status}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div flex="50">
      <boston-map apartments="apartmentsList.apartments"></boston-map>
    </div> -->
  </ion-content>
</ion-view>
