<ion-view hide-back-button="true">
  <ion-content padding="false" class="has-header has-footer">
  <!-- <div class="backBayBannerTop">
    <h1 class="md-display-1">We Know Boston.</h1>
    <h3 class="md-display-1">Presidential Properties is a brokerage <br> dedicated to the Hub.</h3>
  </div> -->
  <!-- <backBay-Map></backBay-Map> -->
<h1>Back Bay</h1>
<p style="color:white;">
  It’s easy to understand why the Back Bay is one of the most appealing neighborhoods in America. Unique shops, trendy restaurants, and vintage homes are found on its main streets, including Newbury Street, Boylston Street, and Commonwealth Avenue.

  It’s not uncommon to see celebrities walking around these beautiful streets. Even the Back Bay’s buildings are famous. Here you’ll find the Prudential Center, the John Hancock Tower, Trinity church, and the Boston Public Library.
</p>

<!-- <img src="https://www.google.com/maps/place/Back+Bay,+Boston,+MA/@42.3492887,-71.0993026,14z/data=!3m1!4b1!4m5!3m4!1s0x89e37a0ef815f5b1:0xbca3cc92599b5bc4!8m2!3d42.3502648!4d-71.0809757" alt="" /> -->
  </ion-content>
</ion-view>
