<div class="list" ng-repeat="favorite in userProfile.favoritesFind">
  <a class="item item-thumbnail-left" ui-sref="apartmentDetails({ apartmentId:favorite.favoriteId})">
    <img src="{{favorite.piclink}}">
    <h2>{{favorite.title}}</h2>
    <p>{{favorite.price}}</p>
    <div class="">
      <img src="images/bed-icon.png" alt="" /><p>{{favorite.beds}}</p>
    </div>
    <div class="">
      <img src="images/shower-icon.png" alt="" /><p>{{favorite.baths}}</p>
    </div>
  </a>
  <remove-favorite favorite="favorite"></remove-favorite>
</div>
