<!-- <add-favorites></add-favorites> -->
<h1>{{apartmentDetails.apartmentFind.title}}</h1>
<input ng-model='apartmentDetails.apartmentId' />
<input ng-model='this.userId' />


    <p>Price: {{apartmentDetails.apartmentFind.price}}</p>
    Bedrooms: {{apartmentDetails.apartmentFind.bedrooms}}</p>
    <p>Bathrooms: {{apartmentDetails.apartmentFind.bathrooms}}</p>
    <p>Status: {{apartmentDetails.apartmentFind.status}}</p>
    <div class="item item-image">
      <img src="{{apartmentDetails.apartmentFind.piclink}}" alt="" />
    </div>
    <div class="item item-image">
      <img src="{{apartmentDetails.apartmentFind.image1}}" alt="" />
    </div>
    <div class="item item-image">
      <img src="{{apartmentDetails.apartmentFind.image2}}" alt="" />
    </div>
    <div class="item item-image">
      <img src="{{apartmentDetails.apartmentFind.image3}}" alt="" />
    </div>
    <div class="item item-image">
      <img src="{{apartmentDetails.apartmentFind.image4}}" alt="" />
    </div>
    <div class="item item-image">
      <img src="{{apartmentDetails.apartmentFind.image5}}" alt="" />
    </div>
    <div class="item item-image">
      <img src="{{apartmentDetails.apartmentFind.image6}}" alt="" />
    </div>
    <div class="item item-image">
      <img src="{{apartmentDetails.apartmentFind.image7}}" alt="" />
    </div>
  </li>
</ul>
<button ui-sref="apartments">Back</button>
